# Copia este ficheiro para .env e preenche com os valores do teu projeto Supabase
# (Supabase Dashboard -> Project Settings -> API)
VITE_SUPABASE_URL=https://gkngbrdgzuorjyfqbeez.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdrbmdicmRnenVvcmp5ZnFiZWV6Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODc2MTExNDAsImV4cCI6MjEwMzE4NzE0MH0.IQbMcb6mthQMVG0nJ_89smC6Wp4ntsmpfgPy6LxZ_0Q
